<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->

    <header>
      <h1>Welcome Visitor</h1>
      <p>Thank you for visiting my page.</p>
    </header>

    <section>
      <header>
        <h2>Something About Me</h2>
      </header>
      <p
        >My name is Punyapa Jongrak. I am currently enrolled in Buiness
        Information Technology(BTT) at Seneca College. My student ID is
        113241228.
      </p>
    </section>

    <!-- End your code here  -->
  </main>
</div>
