<div class="row">
  <main class="col-md-12">
    <section>
      <header>
        <h2>Student Data</h2>
      </header>
      <table border="1">
        <caption>Lists</caption>
        <thead>
          <tr>
            <th rowspan="2">First Name</th>
            <th rowspan="2">Last name</th>
            <th colspan="2">Date of birth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Punyapa</td>
            <td>Jongrak</td>
            <td>9/9/2001</td>
          </tr>
          <tr>
            <td>Poon</td>
            <td>Lee</td>
            <td>6/6/2001</td>
          </tr>
          <tr>
            <td>Chang</td>
            <td>Jiang</td>
            <td>9/9/1999</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">informtion subjected to changes</td>
          </tr>
        </tfoot>
      </table>

      <table border="1">
        <caption>Program</caption>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Program</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Punyapa</td>
            <td>Jongrak</td>
            <td>Science</td>
          </tr>
          <tr>
            <td>Poon</td>
            <td>Lee</td>
            <td>Math</td>
          </tr>
          <tr>
            <td>Chang</td>
            <td>Jiang</td>
            <td>Physics</td>
          </tr>
        </tbody>
      </table>

      <p
        >These two tables demonstrate the use of various HTML table elements and
        properties, such as the caption, thead, tbody, tfoot, th, td, tr,
        rowspan, and colspan. The tables can be used to organize and present
        data in a clear and structured manner on web pages.</p
      >
    </section>

    <section>
      <h2>Program details</h2>
      <ul>
        <li>Physics</li>
        <li
          >Sciences
          <ul>
            <li>Astrology</li>
            <li>Sociology</li>
            <li>Chemistry</li>
          </ul>
        </li>
        <li>Chinese</li>
        <li>Korean</li>
      </ul>
      <p
        >This section contains a single unordered list with a total of 5 items.
        One of the items, Item 3, includes an unordered list as a child with 3
        sub-items. Each list item can contain any type of content, such as text,
        images, and links.</p
      >
    </section>

    <div style="margin-top: 60px; margin-bottom: 30px">
      <h2>Image</h2>
      <img
        width="500"
        src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
        alt="Snowboarder_in_halfpipe"
      /><br /><br />
      <img
        width="500"
        src="https://media.istockphoto.com/id/901142032/es/foto/snowboard.jpg?s=612x612&w=0&k=20&c=Z4BiOqMZlb6g_Rj1tFSvMzgyLamJAGj5IL7hPO8xfgs="
        alt="Snowboard1"
      /><br /><br />
      <img
        width="500"
        src="https://media.istockphoto.com/id/637004052/es/foto/ssnowboarder-en-las-pistas-en-la-ma%C3%B1ana-soleada.jpg?s=1024x1024&w=is&k=20&c=dhzEZQ1p6XXxsmb-U1UI_RbXnv6miQ34wCuOjcGKcww="
        alt="Sbowboard2"
      />
      <br /><br />
      <p
        >This section contains a gallery of three images with alternative text
        describing the content of the images.</p
      >
    </div>

    <section>
      <h2>Audio</h2>
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
          type="audio/mp3"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg "
          type="audio/ogg"
        />
        <p
          >Sorry, your browser doesn't support HTML5 audio. Here is a
          <a href="song.mp3">link to the audio</a> instead</p
        >.
      </audio>
      <p
        >This section contains an HTML 5 audio player with a sample audio file.
        Click on the play button to listen to the audio.
      </p>
    </section>

    <section>
      <h2>Video</h2>
      <video controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
          type="video/webm"
        />
        Your browser does not support the video tag.
      </video>
      <p
        >This section contains an HTML 5 video player. You can use the controls
        to play, pause, and adjust the volume of the video. If your browser does
        not support the video format, the "Your browser does not support the
        video tag." message will be displayed.</p
      >
    </section>
  </main>
</div>
